.filter-heading {
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  margin-right: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  position: relative; /* Lo uso para posicionar correctamente el widget "+"*/
}

.media {
  height: 200px;
}

.widget-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.widget {
  color: green;
  font-size: 30px;
}

.widget:hover {
  cursor: pointer;
}
