.navbar-container {
  background-color: #1976d2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar-item {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
}
