.cart-container {
  margin-top: 20px;
  text-align: auto;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-details {
  flex-grow: 1;
  margin-right: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-quantity {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #888;
}

.product-button {
  margin-left: auto;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.button-container button {
  width: 100%;
}
